@import "reset";

// color palette
$bg1: #FCFCFC;
$bg2: #EFEFEF;
$fc: #080816;
$lc: #88D317;
$hc: #4F2649;

// other
$spacing: 1rem;

html {
    height: 100%;
}

html,
body {
    background: $bg2;
    color: $fc;
    min-height: 100%;
    font-family: 'Roboto', 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 1.75rem;
    line-height: 2.25rem;
}

h2 {
    font-size: 1.25rem;
    margin-bottom: $spacing;
}

a {
    color: $lc;
    text-decoration: none;
}

.header {
    background: $hc;
    color: $bg2;
    padding: $spacing;
}

.tiny {
    font-size: 0.75rem;
    line-height: 1rem;
}

/*#main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex: 1 0 400px;
    margin-bottom: 1rem;
}*/

.settings {
    min-width: 3rem;
    padding: 0 1rem;
}

.settings .controls,
.settings .group {
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacing;
}
.settings .group > label {
    flex: 1 auto;
    line-height: 1.5rem;
    padding-right: 1rem;
    white-space: nowrap
}

.settings input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.settings input[type=text] {
    background: $bg1;
    color: $fc;
    line-height: 1.5rem;
    padding: 0 0.5rem;
    border: none;
}

.settings .btn {
    background: $lc;
    color: $bg1;
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    padding: 0 1rem;
    border: none;
    cursor: pointer;
    flex: 0 auto;
    white-space: nowrap
}

.settings .auto-toggle::before {
    content: 'Play';
}
.settings input[type=checkbox]:checked~.auto-toggle::before {
    content: 'Stop';
}

.settings .micro-macro::after {
    display: block;
    content: 'Macro';
    flex: 1 auto;
    line-height: 1.5rem;
    padding-left: 1rem;
}

.settings .micro-toggle {
    background: $bg1;
    display: block;
    height: 1.5rem;
    width: 2.5rem;
    border-radius: 1.5rem;
}
.settings .micro-toggle::before {
    background: $lc;
    content: '';
    display: block;
    float: right;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1.5rem;
    cursor: pointer;
}
.settings input[type=checkbox]:checked~.micro-toggle::before {
    float: left;
}

.settings input[type=text]:disabled,
.settings input[type=checkbox]:disabled~.micro-toggle,
.settings input[type=checkbox]:disabled~.auto-toggle,
.settings .btn:disabled {
    opacity: 0.6;
    cursor: default;
}

.settings input[type=checkbox]:disabled~.micro-toggle::before {
    cursor: default;
}

#scene {
    display: flex;
    justify-content: center;
    align-items: center;
}

.log {
    display: flex;
    flex-direction: column;
    flex: 2 0 200px;
    padding: 0 1rem;
    padding-bottom: 1rem;
}

#log-entries {
    background: $bg1;
    overflow-y: auto;
    flex: 1;
}

#log-entries .entry {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $fc;
    line-height: 1.5rem;
    font-size: 1rem;
    cursor: pointer;
}
#log-entries .entry .set{
    color: $hc;
}
#log-entries .entry .set .literal {
    color: #D31717;
}

#log-entries .choose {
    background: $fc;
    color: $bg1;
}
#log-entries .satisfied {
    background: $lc;
    color: $bg1;
}

#log-entries .backtrack {
    background: $hc;
    color: $bg1;
}

#log-entries .notSatisfiable {
    background: #D31717;
    color: $bg1;
}

.log ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.log ::-webkit-scrollbar-thumb {
    background: $hc;
    border-radius: 8px;
}

.hide {
    visibility: hidden;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

//CSS Grid for positioning
.grid {
  margin: 0;
  display: grid;
  grid-template-columns: 20% auto 30%;
  grid-template-rows: 5.25rem calc(100% - 6.25rem);
  grid-template-areas:
    'titel titel titel'
    'settings scene calculation';
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.grid__title {
  grid-area: titel;
}

.grid__settings {
  grid-area: settings;
}

.grid__scene {
  grid-area: scene;
}

.grid__calculation {
  grid-area: calculation;
  min-width: 350px;
}
