@import "reset";

// color palette
$bg1: #FCFCFC;
$bg2: #EFEFEF;
$fc: #080816;
$lc: #88D317;
$hc: #4F2649;

// other
$spacing: 1rem;

html {
    height: 100%;
}

html,
body {
    background: $bg2;
    color: $fc;
    min-height: 100%;
    font-family: 'Roboto', 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
}

a {
    color: $lc;
    text-decoration: none;
}

//CSS Grid for positioning
.grid {
    margin: 0;
    display: grid;
    grid-template-columns: 300px auto 400px;
    grid-template-rows: 5.25rem calc(100% - 6.25rem);
    grid-template-areas:
        'titel titel titel'
        'settings scene calculation';
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;

    .grid__title {
        grid-area: titel;
    }

    .grid__settings {
        grid-area: settings;
    }

    .grid__scene {
        grid-area: scene;
    }

    .grid__calculation {
        grid-area: calculation;
    }
}

.header {
    background: $hc;
    color: $bg2;
    padding: $spacing;

    h1 {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    .tiny {
        font-size: 0.75rem;
        line-height: 1rem;
    }
}

h2 {
    font-size: 1.25rem;
    margin-bottom: $spacing;
}

.settings {
    min-width: 3rem;
    padding: 0 $spacing;

    input[type=checkbox] {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    .form {
        .group {
            display: flex;
            justify-content: space-between;
            margin-bottom: $spacing;
            
            >label {
                flex: 1 auto;
                line-height: 1.5rem;
                padding-right: $spacing;
                white-space: nowrap
            }
        }
        
        input[type=text] {
            background: $bg1;
            color: $fc;
            line-height: 1.5rem;
            padding: 0 0.5rem;
            border: none;
        }

        .micro-macro::after {
            display: block;
            content: 'Macro';
            flex: 1 auto;
            line-height: 1.5rem;
            padding-left: $spacing;
        }
    
        .micro-toggle {
            background: $bg1;
            display: block;
            height: 1.5rem;
            width: 2.5rem;
            border-radius: 1.5rem;
        }
    
        .micro-toggle::before {
            background: $lc;
            content: '';
            display: block;
            float: right;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 1.5rem;
            cursor: pointer;
        }
    
        input[type=checkbox]:checked~.micro-toggle::before {
            float: left;
        }

        input[type=checkbox]:disabled~.micro-toggle::before {
            cursor: default;
        }
    }

    
    .controls {
        display: flex;
        justify-content: space-between;
        margin-bottom: $spacing;

        .button {
            background: $lc;
            color: $bg1;
            display: inline-block;
            height: 2rem;
            line-height: 2rem;
            font-size: 1rem;
            font-weight: normal;
            margin: 0;
            padding: 0 $spacing;
            border: none;
            cursor: pointer;
            flex: 0 auto;
            white-space: nowrap
        }
        
        .auto-toggle::before {
            content: 'Play';
        }

        input[type=checkbox]:checked~.auto-toggle::before {
            content: 'Stop';
        }
    }

    input[type=text]:disabled,
    input[type=checkbox]:disabled~.micro-toggle,
    input[type=checkbox]:disabled~.auto-toggle,
    .button:disabled {
        opacity: 0.6;
        cursor: default;
    }
}

#scene {
    display: flex;
    justify-content: center;
    align-items: center;
}

.log {
    display: flex;
    flex-direction: column;
    flex: 2 0 200px;
    padding: 0 $spacing;
    padding-bottom: $spacing;

    #log-entries {
        background: $bg1;
        overflow-y: auto;
        flex: 1;

        .entry {
            color: $bg1;
            padding: 0.5rem $spacing;
            border-bottom: 1px solid $fc;
            line-height: 1.5rem;
            font-size: 1rem;
            cursor: pointer;
        }

        // highlight different entries
        .unitCut {
            color: $hc;
            
            .set {
                color: $hc;

                .literal {
                    color: #D31717;
                }
            }
        }
        .choose {
            background: $fc;
        }
        .satisfied {
            background: $lc;
        }
        .backtrack {
            background: $hc;
        }
        .notSatisfiable {
            background: #D31717;
        }
    }

    // custom scrollbar for the log
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    ::-webkit-scrollbar-thumb {
        background: $hc;
        border-radius: 8px;
    }
}

.hide {
    visibility: hidden;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
